@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Complejo de cabañas</h1>
    <ul>
    @foreach(Cabaña cabaña in ViewBag.Cabañas.Values){
       <li> <a href='@Url.Action("selectCabaña", "Home", new {ID=cabaña.getID()})'>@cabaña.getName()
       <img src="/img/@cabaña.getFotos()[0]" alt="@cabaña.getName() foto 1"> 
       </a> </li>
    }
    </ul>
</div>
