@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Complejo de cabañas</h1>
    @foreach(Cabaña cabaña in ViewBag.Cabañas.Values){
       <a href='@Url.Action("selectCabaña", "Home", new {ID=cabaña.getID()})'>@cabaña.getName()</a>
    }
</div>
